@import "components/wrapper.less";
@import "components/header.less";
@import "components/main-nav.less";
@import "components/page-main.less";
@import "components/intro.less";
@import "components/footer.less";
@import "components/reasons.less";
@import "components/hotel-search.less";
@import "components/form.less";
@import "components/modal.less";
@import "components/photo.less";
@import "components/video.less";
body {
  margin: 0;
  padding: 0;

  background-color: #f2f2f2;
  font-family: "PT Sans", Arial, sans-serif;
}

.button{
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
