@import "wrapper.less";
@import "header.less";
@import "main-nav.less";
@import "page-main.less";
@import "intro.less";
@import "footer.less";
@import "index/reasons.less";
@import "index/hotel-search.less";
@import "form/form.less";
@import "form/modal.less";
@import "photo/photo.less";
@import "photo/video.less";
body {
  margin: 0;
  padding: 0;

  background-color: #f2f2f2;
  font-family: "PT Sans", Arial, sans-serif;
}

.button{
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
