.video{
  outline: 1px solid red;
  width: 320px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 66px;

  .tablet({
    width: @tablet-width;
    padding: 0;
    padding-top: 65px;
    padding-bottom: 35px;
  });

  .desktop({
    padding-top: 70px;
    width: @desktop-width;
  })
}

.video__title{
  font-size: 18px;
  line-height: 26px;

  .tablet({
      font-size: 30px;
      line-height: 26px;
  });

  .desktop({
    font-size: 30px;
    line-height: 26px;
  });
}

.video__description{
  margin: 0;
  padding-top: 27px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;

  .tablet({
      padding-top: 35px;
      padding-left: 175px;
      padding-right: 175px;
      padding-bottom: 80px;
  });

  .desktop({
    padding-left: 390px;
    padding-right: 390px;
  });
}

.video__frame{
  outline: 1px solid red;
  height: 200px;
  background: url("../../img/video-mobile@1x.jpg") 0 0 no-repeat;
  position: relative;
  background-size: cover;
  .tablet({
    width: 648px;
    height: 500px;
    margin: 0 auto;
    background: url("../../img/video-tablet@1x.jpg") 0 0 no-repeat;
  });

  .desktop({
    width: 800px;
    height: 500px;
    margin: 0 auto;
    background: url("../../img/video-desktop@1x.jpg") 0 0 no-repeat;
  });
}

.video__button{
  position: absolute;
  bottom: -65px;
  height: 64px;
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: @bg-lightgrey;
  display: flex;
  flex-direction: row;
  align-items: center;
  .tablet({
      width: 648px;
      margin: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.3);
      flex-direction: row;
      justify-content: space-around;
  });

  .desktop({
      width: 800px;
      height: 92px;
      margin: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.3);
      flex-direction: row;
      justify-content: space-around;
  });
}
.video__replay{
  .tablet({
    order: -1;
  });
  .desktop({
    order: -1;
  });
}
.video__range-controls{
	position: relative;
  left: 0;
  width: 67.5%;
  height: 2px;
  background-color: yellow;
}

.video__range-toggle{
	position: absolute;
	top: -5px;
  left: 21%;
	width: 10px;
	height: 10px;

	background: #ffffff;
	border-radius: 50%;
	cursor: pointer;

  .tablet({
    top: -4px;
  });
}
@media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
   .video__frame {
    background-image: url("../../img/video-mobile@2x.jpg");
    .tablet({
      background-image: url("../../img/video-tablet@2x.jpg");
    });
    .desktop({
      background-image: url("../../img/video-desktop@2x.jpg");
    });
  }
}
